@page "/patient/viewappointment"

<h3>ViewAppointment</h3>
<RadzenScheduler Data="@data" TItem="DataItem" StartProperty="Start" EndProperty="End" TextProperty="Text">
  <RadzenMonthView />
</RadzenScheduler>


@code {

}
