.page {
    display: flex;
}

.sidebar {
    width: 280px;
    background-color: rgb(38 72 105 / 80%);
}

main {
    padding: 1rem;
    flex: 1;
    color: #fff;
    background-color: rgb(95 95 95 / 80%);
}

.top-row {
    background-color: rgba(0, 205, 205, .8);
}

    .top-row ::deep .nav {
        --bs-nav-link-color: #fff;
    }

.main-admin {
    background-image: url('/img/doctormainpage.png');
    background-size: cover;
    background-attachment: fixed;
}

::deep .groupbox .legend {
    color: #000;
    border-radius: 6px;
}
