<div class="nav-scrollable">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/doctor" Match="NavLinkMatch.All">
                <i class="fa-solid fa-user-doctor"></i>
                <span> Profile</span>
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/patients" Match="NavLinkMatch.All">
                <i class="fa-solid fa-hospital-user"></i>
                <span> Patients</span>
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/livechat" Match="NavLinkMatch.All">
                <i class="fa-solid fa-hospital-user"></i>
                <span> LiveChatting</span>
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/receivechat" Match="NavLinkMatch.All">
                <i class="fa-solid fa-hospital-user"></i>
                <span> ReceiveChat</span>
            </NavLink>
        </div>

    </nav>
</div>
