<div class="nav-scrollable">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/doctor" Match="NavLinkMatch.All">
                <span class="oi oi-person" aria-hidden="true"></span> Profile
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/patients" Match="NavLinkMatch.All">
                <span class="oi oi-person" aria-hidden="true"></span> 病人信息
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/patient/profile" Match="NavLinkMatch.All">
                <span class="oi oi-person" aria-hidden="true"></span> Patient profile
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/patient/bookappointment" Match="NavLinkMatch.All">
                <span class="oi oi-person" aria-hidden="true"></span> book appoinemt
            </NavLink>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="/patient/dailyreport" Match="NavLinkMatch.All">
                <span class="oi oi-person" aria-hidden="true"></span> add medRdaily
            </NavLink>
        </div>

        </div>
    </nav>
</div>
