.main-admin {
    
    background-size: cover;
    background-attachment: fixed;
    --health-sidebar-width: 280px;
}

.page {
    display: flex;
}

.sidebar {
    width: var(--health-sidebar-width);
    background-color: #F7AD19;
    transition: .3s width linear;
}

main {
    padding: 1rem;
    flex: 1;
    color: black;

    
}

.top-row {
    background-color: rgba(0, 205, 205, .8);
}

    .top-row ::deep .nav {
        --bs-nav-link-color: #fff;
    }

::deep .groupbox .legend {
    color: #000;
    border-radius: 6px;
}

.navbar > .container-fluid {
    position: relative;
}

.btn-toggle {
    position: absolute;
    left: 280px;
    --bs-btn-border-color: #2a905f;
    --bb-toggle-min-width: 48px;
}

    .btn-toggle i {
        transition: .3s transform linear;
    }

.collapsed {
    --health-sidebar-width: 76px;
}

    .collapsed .btn-toggle i {
        transform: rotate(90deg);
    }

    .collapsed ::deep .nav-link > span {
        display: none;
    }
