@page "/doctor"
@attribute [Authorize]
@inject DoctorService DoctorService

<h2 class="mb-5">Complete Your Profile</h2>

@if (_doctor != null)
{
    <GroupBox Title="Profile">
        <ValidateForm Model="_doctor" OnValidSubmit="OnSubmit">
            <div class="row g-3 form-inline">
                <div class="col-12 col-sm-6">
                    <BootstrapInput @bind-Value="_doctor.DoctorName"></BootstrapInput>
                </div>
                <div class="col-12 col-sm-6">
                    <BootstrapInput @bind-Value="_doctor.DoctorPhoneNumber"></BootstrapInput>
                </div>
                <div class="col-12 col-sm-6">
                    <BootstrapInput @bind-Value="_doctor.DoctorSpecialization"></BootstrapInput>
                </div>
                <div class="col-12 col-sm-6">
                    <BootstrapInput @bind-Value="_doctor.DoctorNationality"></BootstrapInput>
                </div>
                <div class="col-12 col-sm-6">
                    <BootstrapInput @bind-Value="_doctor.DoctorExperience"></BootstrapInput>
                </div>
                <div class="col-12 col-sm-6">
                    <DateTimePicker @bind-Value="_doctor.DoctorAvailavleTime"></DateTimePicker>
                </div>
                <div class="col-12 col-sm-6">
                    <BootstrapInput @bind-Value="_doctor.DoctorLocation"></BootstrapInput>
                </div>
                <div class="col-12">
                    <label required="true" class="form-label">Introduction</label>
                    <Editor Height="400" @bind-Value="@_doctor.DoctorIntroduction" PlaceHolder="Please input introduction ..."></Editor>
                </div>
            </div>
            <div class="form-footer">
                <Button ButtonType="ButtonType.Submit" Text="Save"></Button>
            </div>
        </ValidateForm>
    </GroupBox>
}
else
{
    <div>loading ...</div>
}