@page "/patients"
@inject HttpClient _client
@inject IJSRuntime js
@attribute [Authorize]
@using HealthcareMonitoring.Shared.Domain;

<Table TItem="Patient" EditDialogShowMaximizeButton="true"
       IsPagination="true" PageItemsSource="@PageItemsSource"
       IsStriped="true" IsBordered="true"
       ShowToolbar="false" ShowSkeleton="true"
       IsExtendButtonsInRowHeader="true" ShowExtendButtons="true" ShowExtendDeleteButton="false" ShowExtendEditButton="false"
       OnQueryAsync="OnQueryAsync">
    <TableColumns>
        <TableColumn @bind-Field="context.Name"></TableColumn>
        <TableColumn @bind-Field="context.Prescription"></TableColumn>
        <TableColumn @bind-Field="context.NRIC"></TableColumn>
        <TableColumn @bind-Field="context.PhoneNumber"></TableColumn>
    </TableColumns>
    <RowButtonTemplate>
        <Button Icon="fa-fw fa-solid fa-pen-to-square" Text="Report" OnClick="() => OnClickReportButton(context)" Color="Color.Primary" Size="Size.ExtraSmall" />
        <Button Icon="fa-fw fa-solid fa-pen-to-square" Text="Prescription" OnClick="() => OnClickPrescriptionButton(context.Prescription)" Color="Color.Success" Size="Size.ExtraSmall" />
    </RowButtonTemplate>
</Table>
