.form-wrapper {
    max-width: 800px; /* Set this to your preferred max width */
    margin: auto;
}

.form-group {
    margin-bottom: 1rem;
}

    .form-group label {
        display: block;
        margin-bottom: .5rem;
    }

.form-control {
    display: block;
    width: 100%;
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #7fffd4;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

    .form-control:focus {
        border-color: #80bdff;
        outline: 0;
        box-shadow: 0 0 0 .2rem rgba(0,123,255,.25);
    }

.btn {
    padding: .375rem .75rem;
    border-radius: .25rem;
    border: 1px solid transparent;
    font-size: 1rem;
    line-height: 1.5;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.btn-primary {
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
}

    .btn-primary:hover {
        color: #fff;
        background-color: #0069d9;
        border-color: #0062cc;
    }

.btn-block {
    display: block;
    width: 100%; /* Full width - Use max-width to limit the width */
    max-width: 100%; /* You can adjust this as needed */
}

@media (min-width: 576px) {
    .form-group {
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }

        .form-group label {
            flex-basis: 20%;
            margin-bottom: 0;
        }

        .form-group .form-control, .form-group .btn-block {
            flex-basis: 80%;
            max-width: 100%; /* You can adjust this as needed */
        }
}
