@inject AuthenticationStateProvider AuthenticationStateProvider
@using Microsoft.AspNetCore.Components.Authorization
@using HealthcareMonitoring.Client.Static;
@inject HttpClient _client

<ValidateForm Model="newPrescription" OnValidSubmit="OnSubmit">
        @foreach (var _prescription in prescriptions)
        {
            <div class="row g-3 form-inline">
                <div class="col-12 col-sm-6 col-md-4">
                    <BootstrapInput @bind-Value="_prescription.MedicineName"></BootstrapInput>
                </div>
                <div class="col-12 col-sm-6 col-md-4">
                    <BootstrapInput @bind-Value="_prescription.MedicineQuantity"></BootstrapInput>
                </div>
                <div class="col-12 col-sm-6 col-md-4">
                    <BootstrapInput @bind-Value="_prescription.MedicineUsage"></BootstrapInput>
                </div>
                <div class="col-12">
                    <Textarea @bind-Value="_prescription.MedicineDescription" rows="3"></Textarea>
                </div>
            </div>
            
        }
    <button @onclick="AddPrescription">Add Prescription</button>
        <div class="form-footer">
            <DialogCloseButton Text="Cancel"></DialogCloseButton>
            <Button ButtonType="ButtonType.Submit" Icon="fa-solid fa-save" Text="Save"></Button>
        </div>
    </ValidateForm>

