<ValidateForm Model="_prescription" OnValidSubmit="OnSubmit">
    <div class="row g-3 form-inline">
        <div class="col-12 col-sm-6">
            <BootstrapInput @bind-Value="_prescription.MedicineName"></BootstrapInput>
        </div>
        <div class="col-12 col-sm-6">
            <BootstrapInput @bind-Value="_prescription.MedicineQuantity"></BootstrapInput>
        </div>
        <div class="col-12 col-sm-6">
            <BootstrapInput @bind-Value="_prescription.MedicinePrescriptionDoctor"></BootstrapInput>
        </div>
        <div class="col-12 col-sm-6">
            <BootstrapInput @bind-Value="_prescription.MedicineUsage"></BootstrapInput>
        </div>
        <div class="col-12">
            <Textarea @bind-Value="Value.MedicineDescription" rows="3"></Textarea>
        </div>
    </div>
</ValidateForm>


